.tabContainer {
  max-width: 500px;
  background-color: #F4F4F4;
  margin: 0 auto;
}
.tab {
  display:inline-block;
  padding: 15px 25px;
  width: 75px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: arial, helvetica;
  cursor: pointer;
}
.tabBar {
  background-color: #999999;
}
.tab1 {

}
.tab2 {

}
.active {
  background-color: #0092FF;
}
#tabContent1{

}
#tabContent2 {
  display:none;
}
.grid {

}
.listItem {
  padding: 18px;
}


$('.tab').on("click", function(){
  
  if ($(this).hasClass("tab1")){
    $(".tab1").addClass("active");
    $(".tab2").removeClass("active");
    $("#tabContent1").css("display", "block");
    $("#tabContent2").css("display", "none");
  }
  else if ($(this).hasClass("tab2")){
    $(".tab2").addClass("active");
    $(".tab1").removeClass("active");
    $("#tabContent2").css("display", "block");
    $("#tabContent1").css("display", "none");
  }
});